---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Journal Publications</h2>
<ul>
<li>
Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank,
<b>FedHome: A Federated Learning Framework for Smart Home Device Classification and Attack Detection by Broadband Service Providers</b>,
<i>Computer Networks</i>, Vol. 277, Article 112040, 2026 (<a href="/files/FedHome.pdf"> PDF </a>)
</li>

<li>
Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank,
<b>ARProof: A Cross-Protocol Approach to Detect and Mitigate ARP-Spoofing Attacks in Smart Home Networks</b>,
<i>Journal of Network and Computer Applications</i>, Vol. 246, Article 104396, 2026 (<a href="/files/arpSpoofing.pdf"> PDF </a>)
</li>	
	
<li>
Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank,
<b>UNSW HomeNet: A Network Traffic Flow Dataset for AI-Based Smart Home Device Classification</b>,
<i>Computers & Industrial Engineering</i>, Article 111041, 2025
</li>

<li>
Hoseini, Sayed Amir and Sadeghi, Parastoo and Bouhafs, Faycal and Aboutorab, Neda and den Hartog, Frank,
<b>Experimental Evaluation of Network-Controlled Physical-Layer Security Through Friendly Jamming</b>,
<i>IEEE Open Journal of the Communications Society</i>, 2024
</li>

<li>
Bouhafs, Faycal and Hoseini, Sayed Amir and Shah, Syed Danial Ali and den Hartog, Frank,
<b>A Fully Open-Source End-to-End Private 5G Network over Unlicensed Frequency Bands</b>,
<i>arXiv preprint</i>, arXiv:2407.20652, 2024
</li>

<li>
Hoseini, Sayed Amir and Hassan, Jahan and Bokani, Ayub and Kanhere, Salil S.,
<b>In-Situ MIMO-WPT Recharging of UAVs Using Intelligent Flying Energy Sources</b>,
<i>Drones</i>, Vol. 5, No. 3, 2021
</li>

<li>
Hoseini, Sayed Amir and Ding, Ming and Hassan, Mahbub and Chen, Youjia,
<b>Analyzing the Impact of Molecular Re-Radiation on the MIMO Capacity in High-Frequency Bands</b>,
<i>IEEE Transactions on Vehicular Technology</i>, Vol. 69, No. 12, pp. 15458–15471, 2020
</li>

<li>
Hoseini, Sayed Amir and Fotouhi, Azade and Hassan, Mahbub and Chou, Chun Tung and Ammar, Mostafa H.,
<b>Efficient and Transparent Use of Personal Device Storage in Opportunistic Data Forwarding</b>,
<i>Computer Communications</i>, Vol. 73, pp. 47–55, 2015
</li>

<li>
Hoseini, Sayed Amir and Ashraf, M. Reza,
<b>Computational Complexity Comparison of Multi-Sensor Single-Target Data Fusion Methods Using MATLAB</b>,
<i>International Journal of Chaos, Control, Modelling and Simulation (IJCCMS)</i>, Vol. 2, No. 2, 2013
</li>

<li>
Hoseini, Sayed Amir and Rezaie, S. Saed and Taheri, Hassan,
<b>Improving ertPS Grant Allocation for VoIP Traffic in Silence Duration</b>,
<i>International Journal of Information and Electronics Engineering</i>, Vol. 2, No. 3, pp. 446, 2012
</li>
	
<!--
<li>Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank, <b>UNSW HomeNet: A network traffic flow dataset for AI-based smart home device classification</b>, <i>Computers & Industrial Engineering</i>, pp. 111041, 2025</li>
<li>hoseini, Sayed Amir and Sadeghi, Parastoo and Bouhafs, Faycal and Aboutorab, Neda and den Hartog, Frank, <b>Experimental Evaluation of Network-Controlled Physical-Layer Security Through Friendly Jamming</b>, <i>IEEE Open Journal of the Communications Society</i>, 2024</li>
<li>Bouhafs, Faycal and Hoseini, Sayed Amir and Shah, Syed Danial Ali and Hartog, Frank den, <b>A Fully Open-Source End-to-End Private 5G Network over Unlicensed Frequency Bands</b>, <i>arXiv preprint arXiv:2407.20652</i>, 2024</li>
<li>Hoseini, Sayed Amir and Hassan, Jahan and Bokani, Ayub and Kanhere, Salil S, <b>In-situ MIMO-WPT Recharging of UAVs Using Intelligent Flying Energy Sources</b>, <i>Drones</i>, Vol. 5, No. 3, 2021</li>
<li>Hoseini, Sayed Amir and Ding, Ming and Hassan, Mahbub and Chen, Youjia, <b>Analyzing the impact of molecular re-radiation on the MIMO capacity in high-frequency bands</b>, <i>IEEE Transactions on Vehicular Technology</i>, Vol. 69, No. 12, pp. 15458--15471, 2020</li>
<li>Hoseini, Sayed Amir and Fotouhi, Azade and Hassan, Mahbub and Chou, Chun Tung and Ammar, Mostafa H, <b>Efficient and Transparent Use of personal device storage in opportunistic data forwarding</b>, <i>Computer Communications</i>, Vol. 73, pp. 47--55, 2015</li>
<li>Hoseini, Sayed Amir and Ahsraf, M R, <b>Computational complexity comparison of multi-sensor single target data fusion methods by matlab</b>, <i>International Journal of Chaos, Control, Modelling and Simulation (IJCCMS)</i>, Vol. 2, No. 2, 2013</li>
<li>Hoseini, S Amir and Rezaie, S Saed and Taheri, H, <b>Improving ertPS Grant Allocation for VoIP Traffic inSilence Duration</b>, <i>International Journal of Information and Electronics Engineering</i>, Vol. 2, No. 3, pp. 446, 2012</li>
</ul>
-->
	

<h2>Conference Publications</h2>
<ul>
<li>Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank, <b>The Influence of Device Type Aggregation on the Classification of Smart Home Devices Using Machine Learning Algorithms</b>, <i>27th International Conference on Computer and Information Technology</i>, 2024</li>
<li>Rahman, Md Mizanur and Bouhafs, Faycal and Hoseini, Sayed Amir and den Hartog, Frank, <b>Feature Relevance for Detecting Address Resolution Protocol Spoofing in Smart Homes with Machine Learning</b>, <i>The 51st International Conference on Computers and Industrial Engineering (CIE51)</i>, 2024</li>
<li>Hoseini, Sayed Amir and Den Hartog, Frank and Bouhafs, Fay{\c{c}}al, <b>Realizing physical layer security with common off-the-shelf WiFi equipment</b>, <i>2023 IEEE 20th Consumer Communications \& Networking Conference (CCNC)</i>, pp. 935--936, 2023</li>
<li>Hoseini, Sayed Amir and Bouhafs, Faycal and Aboutorab, Neda and Sadeghi, Parastoo and Hartog, Frank den, <b>Cooperative Jamming for Physical Layer Security Enhancement Using Deep Reinforcement Learning</b>, <i>Globecom 2023 Workshops</i>, 2023</li>
<li>Hoseini, Sayed Amir and Sadeghi, Parastoo and Bouhafs, Faycal and Aboutorab, Neda and Hartog, Frank den, <b>Network-Controlled Physical-Layer Security: Enhancing Secrecy Through Friendly Jamming</b>, <i>27th IEEE Symposium on Computers and Communications (ISCC 2022)</i>, 2022</li>
<li>Hoseini, Sayed Amir and Bouhafs, Faycal and den Hartog, Frank, <b>A Practical Implementation of Physical Layer Security in Wireless Networks</b>, <i>CCNC 2022 : IEEE Consumer Communications and Networking Conference</i>, 2022</li>
<li>Hoseini, Sayed Amir and Bokani, Ayub and Hassan, Jahan and Salehi, Shavbo and Kanhere, Salil S, <b>Energy and Service-priority aware Trajectory Design for UAV-BSs using Double Q-Learning</b>, <i>2021 IEEE 18th Annual Consumer Communications $\backslash$\& Networking Conference (CCNC) (CCNC 2021)</i>, 2021</li>
<li>Salehi, Shavbo and Hassan, Jahan and Bokani, Ayub and Hoseini, Sayed Amir and Kanhere, Salil S, <b>A QoS-aware, energy-efficient trajectory optimization for UAV base stations using Q-learning</b>, <i>2020 19th ACM/IEEE International Conference on Information Processing in Sensor Networks (IPSN)</i>, pp. 329--330, 2020</li>
<li>Hoseini, Sayed Amir and Hassan, Jahan and Bokani, Ayub and Kanhere, Salil S, <b>Trajectory Optimization of Flying Energy Sources using Q-Learning to Recharge Hotspot UAVs</b>, <i>IEEE INFOCOM 2020 - IEEE Conference on Computer Communications Workshops (INFOCOM WKSHPS)</i>, pp. 683--688, 2020</li>
<li>Hoseini, Sayed Amir and Ding, Ming and Hassan, Mahbub, <b>Massive MIMO Performance Comparison of Beamforming and Multiplexing in the Terahertz Band</b>, <i>IEEE Globecom Workshops (GC Wkshps)</i>, 2017</li>
<li>Hoseini, Sayed Amir and Ding, Ming and Hassan, Mahbub, <b>A New Look at MIMO Capacity in the Millimeter Wave</b>, <i>2017 IEEE Global Communications Conference (GLOBECOM)</i>, 2017</li>
<li>Hosseini, Seyed Amir and Zarepour, Eisa and Hassan, Mahbub and Chou, Chun Tung, <b>Analyzing diurnal variations of millimeter wave channels</b>, <i>2016 IEEE Conference on Computer Communications Workshops (INFOCOM WKSHPS)</i>, pp. 377--382, 2016</li>
<li>Bokani, Ayub and Hoseini, S Amir and Hassan, Mahbub and Kanhere, Salil S, <b>Implementation and evaluation of adaptive video streaming based on Markov decision process</b>, <i>2016 IEEE International Conference on Communications (ICC)</i>, pp. 1--6, 2016</li>
<li>Bokani, Ayub and Amir Hoseini, S. and Hassan, Mahbub and Kanhere, Salil S., <b>Empirical evaluation of MDP-based DASH player</b>, <i>International Telecommunication Networks and Applications Conference (ITNAC), 2015</i>, pp. 332--337, 2015</li>
<li>Hoseini, Sayed Amir and Fotouhi, Azade and Hassan, Mahbub and Chou, Chun Tung and Ammar, Mostafa, <b>A message ferrying approach to low-cost backhaul in cellular networks</b>, <i>Proceedings of the 9th ACM MobiCom workshop on Challenged networks</i>, pp. 25--30, 2014</li>
<li>Hoseini, Sayed Amir and Bokani, Ayub, <b>Video Ferrying: A Low Cost Video Streaming Approach for Cellular Networks</b>, <i>Proceedings of the ACM CoNEXT workshop on Video: VideoNEXT2014</i>, 2014</li>
</ul>

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->

